
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="baidu-site-verification" content="2MKKT6mbuL" />
    <title>2015辰佳洗衣机开盘盛会！</title>
    <meta name="keywords" content="易企秀,免费,免费移动场景应用自营销管家,移动场景自营销管家,移动场景自营销工具,活动自营销管家,场景展示,免费的报名页,收集潜在客户,二次营销,轻CRM,提高移动场景营销效果" />
    <meta id="metaDescription" name="description" content="返璞归真，再创奇迹！" />
    <!-- twitter -->
    <META content="@Hypefolio" name="twitter:site" />
    <META content="summary" name="twitter:card" />
    <META content="2015辰佳洗衣机开盘盛会！" name="twitter:title" />
    <META content="返璞归真，再创奇迹！" name="twitter:description" />
    <META content="/eqx/img/yq0KEVVS7ESARDZkAABZ1xFKdq8411.png" name="twitter:image:src" />
    <!-- facebook -->
    <META content="Hypefolio" property="og:site_name" />
    <META content="object" property="og:type" />
    <META content="2015辰佳洗衣机开盘盛会！" property="og:title" />
    <META content="返璞归真，再创奇迹！" property="og:description" />
    <META content="/eqx/img/yq0KEVVS7ESARDZkAABZ1xFKdq8411.png" property="og:image" />
    <META content="http://eqxiu.com/s/LX3jeFPi" property="og:url" />

    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate">
    <META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
    <META HTTP-EQUIV="expires" CONTENT="0">
    <meta id="eqMobileViewport" name="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no" servergenerated="true">
    <link rel="shortcut icon" href="http://as.eqxiu.com/common/favicon.ico" type="image/x-icon" />
    <script>
    ;(function (window) {
    
        document.write('<link rel="stylesheet" href="/eqx/eqShow-5.0.0.css"/>');
    
})(window);
</script>
 </head>
<body>

<div id="shareImage" style="display: none;">
    <img src="/eqx/yq0KEVVS7ESARDZkAABZ1xFKdq8411.png" />
</div>
<div id="ppitest" style="width:1in;visible:hidden;padding:0px"></div>
<div class="p-index main phoneBox" id="con" style="display: none;">
    <div class="top"></div>
    <div class="phone_menubar"></div>
    <div class="scene_title_baner" style="display: none">
        <div class="scene_title">2015辰佳洗衣机开盘盛会！</div>
    </div>
    <div class="nr" id="nr">
        <div id="audio_btn" class="off">
            <div id="yinfu"></div>
            <audio loop="" src="" id="media" autoplay="" preload></audio>
        </div>
        <div id="loading" class="loading">
            <div class="loadbox">
                <div class="loadlogo"></div>
                <div class="loadbg"></div>
            </div>
        </div>
    </div>
    <div class="bottom"></div>
</div>
<script src="http://tajs.qq.com/stats?sId=45828183" charset="UTF-8"></script>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="http://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script><script>



</script>
<script src="/eqx/boot.js"></script>

<script>
    var scene = {id:12845347,code:"LX3jeFPi",name: "2015辰佳洗衣机开盘盛会！", description: "返璞归真，再创奇迹！", pageMode:0,cover:"yq0KEVVS7ESARDZkAABZ1xFKdq8411.png",bgAudio:{"url":"yq0KEVVQyxeACbFSABbngFBOJB0674.mp3"},property:'{"eqAdType":1,"hideEqAd":false,"triggerLoop":true,"autoFlipTime":3}',createTime:1440147396000,bizType:0};

    eqShow.bootstrap();

</script>

</html>